.breadcrumbs {
  padding: 50px 0;
  a {
	  font-size: 18px;
	  padding-right: 14px;
	  position: relative;
	  font-weight: $font-weight3;
	  margin-right: 10px;
	  &:last-child {
			color: #bfbfbf;
			&:after {
				display: none;
			}
		}
		&:after {
			content: "/";
		  top: 50%;
		  right: 0;
		  transform: translateY(-50%);
		  position: absolute;
		}
	}
}