$color-main: #fe7900;
$color-white: #fff;
$color-black: #000;

$bg-main: #fe7900;
$bg-white: #fff;
$bg-black: #000;

$font-size-small: 12px; 
$font-size-medium: 14px;
$font-size-larger: 16px; 

$font-weight3: 300;
$font-weight4: 400;
$font-weight5: 500;
$font-weight6: 600;
$font-weight7: 700;
